
    <head>
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="{{ url_for('static', filename='app4.js')}}"></script>
    </head>
    <body>
        <div>
            <form action="{{ url_for('login')}}" method="post" id="register">
                <div class="container">
                    <div class="row">
                        <div class="form-group col-md-4">
                          <label>First name</label>
                          <input type="text" class="form-control" id="first_name" name="name" required>
                        </div>
                        <div class="form-group col-md-4">
                          <label>Second name</label>
                          <input type="text" class="form-control" id="second_name" name="second_name" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="cert_num">certification number</label>
                            <input type="text" class="form-control" id="cert_num" name="cert_num">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="confirm">Confirm Password</label>
                            <input type="password" class="form-control" name="confirm" id="confirm">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>

  </body>

</html>